doctype html
html
  - cit = 0;
  include css
  body
    body
      header.counter-skip
        h1.title
          |  A Physics-Based Analytical Model for 2DEG Charge Density
        h2 [Extended Abstract]
        .authors.col-2
          .author
            b Mucchietto Andrea 
            div Msc. in Nanotechnologies for ICT
            div Politecnico di Torino
            em
              a(href='mailto:andrea.mucchietto@studenti.polito.it') andrea.mucchietto@studenti.polito.it
          .author
            b Giordano Massimo
            div Msc. in Nanotechnologies for ICT
            div Politecnico di Torino
            em
              a(href='mailto:m.giordano@studenti.polito.it') m.giordano@studenti.polito.it
            
      .copyright
        div
      .abstract.counter-skip
        h1 Abstract
        p
          | This paper provides a sample of a document which conforms to the formatting guidelines for ACM SIG
          sub ε
          |  Proceedings. It complements the document 
          em
            | Author’s Guide to Preparing ACM SIG Proceedings Using 
          | . This source file has been written with the intention of being compiled under 
          
          - cit = cit + 1;
          cite(href='#lamport86') #{cit}
          
        p
          | The developers have tried to include every imaginable sort of 
          q bells and whistles
          | , such as a subtitle, footnotes on title, subtitle and authors, as well as in the text, and every optional component (e.g. Acknowledgments, Additional Authors, Appendices), not to mention examples of equations, theorems, tables and figures.
        //.displaymath NOT show
        .equation
          | $$ \lim_{x \to \infty} \frac{1}{x} = 0 $$
              
      - var tot_img = 25;
      - var def = 15;
      - var path = "img/fig1/Energies_vs_Volts";
      - var ext  = "svg";
      - var uniqueID  ="fig1";
      - var width_bar = "300";
      - var width_img = "500";
      
      include img_range


      h1 Introduction
      section
        p
          | The 
          em proceedings
          |  are the records of a conference. ACM seeks to give these conference by-products a uniform, high-quality appearance. To do this, ACM has some rigid requirements for the format of the proceedings documents: there is a specified format (balanced  double columns), a specified set of fonts (Arial or Helvetica and Times Roman) in certain specified sizes (for instance, 9 point for body copy), a specified live area (18 × 23.5 cm [7″ × 9.25″]) centered on the page, specified size of margins (1.9 cm [0.75″]) top, (2.54 cm [1″]) bottom and (1.9 cm [.75″]) left and right; specified column width (8.45 cm [3.33″]) and gutter size (.83 cm [.33″]).
        p
          | The good news is, with only a handful of manual settings
          footnote
            | Two of these, the 
            code \numberofauthors
            |  and 
            code \alignauthor
            |  commands, you have already used; another, 
            code \balancecolumns
            | , will be used in your very last run of 
            span.latex
              | L
              span a
              | T
              span e
              | X
            |  to ensure balanced column heights on the last page.
          | , the 
          span.latex
            | L
            span a
            | T
            span e
            | X
          |  document class file handles all of this for you.
        p
          | The remainder of this document is concerned with showing, in the context of an 
          q actual
          |  document, the 
          span.latex
            | L
            span a
            | T
            span e
            | X
          |  commands specifically available for denoting the structure of a proceedings paper, rather than with giving rigorous descriptions or explanations of such commands.
      section
        h1
          | The 
          em Body
          |  of the Paper
        p
          | Typically, the body of a paper is organized into a hierarchical structure, with numbered or unnumbered headings for sections, subsections, sub-subsections, and even smaller sections. The command \section that precedes this paragraph is part of such a hierarchy.
          footnote
            | This is the second footnote. It starts a series of three footnotes that add nothing informational, but just give an idea of how footnotes work and look. It is a wordy one, just so you see how a longish one plays out.
          span.latex
            | L
            span a
            | T
            span e
            | X
          |  handles the numbering and placement of these headings for you, when you use the appropriate heading commands around the titles of the headings. If you want a sub-subsection or smaller part to be unnumbered in your output, simply append an asterisk to the command name. Examples of both numbered and unnumbered headings will appear throughout the balance of this sample document.
        p
          | Because the entire article is contained in the 
          strong document
          |  environment, you can indicate the start of a new paragraph with a blank line in your input file; that is why this sentence forms a separate paragraph.
        h2
          | Type Changes and 
          em Special
          |  Characters
        p
          | We have already seen several typeface changes in this sample. You can indicate italicized words or phrases in your text with the command 
          code \textit
          | ; emboldening with the command 
          code \textbf
          |  and typewriter-style (for instance, for computer code) with 
          code \texttt
          | . But remember, you do not have to indicate typestyle changes when such changes are part of the 
          em structural
          |  elements of your article; for instance, the heading of this subsection will be in a sans serif
          footnote A third footnote, here. Let’s make this a rather short one to see how it looks.
          |  typeface, but that is handled by the document class file. Take care with the use of
          footnote A fourth, and last, footnote.
          |  the curly braces in typeface changes; they mark the beginning and end of the text that is to be in the different typeface.
        p
          | You can use whatever symbols, accented characters, or non-English characters you need anywhere in your document; you can find a complete list of what is available in the 
          em
            span.latex
              | L
              span a
              | T
              span e
              | X
            |  User’s Guide
          
          | .
        h2 Math Equations
        p
          | You may want to display math equations in three distinct styles: inline, numbered or non-numbered display. Each of the three are discussed in the next sections.
        h3 Inline (In-text) Equations
        p
          | A formula that appears in the running text is called an inline or in-text formula. It is produced by the 
          strong math
          |  environment, which can be invoked with the usual 
          code \begin. . .\end
          |  construction or with the short form 
          code $. . .$
          | . You can use any of the symbols and structures, from α to ω, available in 
          span.latex
            | L
            span a
            | T
            span e
            | X
          cite(href='#lamport86') 5
          | ; this section will simply show a few examples of in-text equations in context. Notice how this equation: 
          |       lim
          sub
            math
              mi n
            | →∞
          math
            mrow
              mi x
              mo =
              mn 0
          |       , set here in in-line math style, looks slightly different when set in display style. (See next section).
        h3 Display Equations
        p
          | A numbered display equation – one set off by vertical space from the text and centered horizontally – is produced by the 
          strong equation
          |  environment. An unnumbered display equation is produced by the 
          strong displaymath
          |  environment.
        p
          | Again, in either environment, you can use any of the symbols and structures available in 
          span.latex
            | L
            span a
            | T
            span e
            | X
          | ; this section will just give a couple of examples of display equations in context. First, consider the equation, shown as an inline equation above:
        .equation
          math
            mtable
              mtr
                mtd
                  munder
                    mi lim
                    mrow
                      mi n
                      mo →
                      mo ∞
                  mi x
                  mo =
                  mn 0
        p
          | Notice how it is formatted somewhat differently in the 
          strong displaymath
          |  environment. Now, we’ll enter an unnumbered equation:
        .equation.displaymath
          math(xmlns='http://www.w3.org/1998/Math/MathML')
            mtable.m-equation(displaystyle='true')
              mtr
                mtd(columnalign='left')
                  mstyle(displaystyle='true')
                    munderover
                      mo ∑
                      mrow
                        mi i
                        mo =
                        mn 0
                      mo ∞
                  mi x
                  mo +
                  mn 1
        p and follow it with another numbered equation:
        .equation
          math(xmlns='http://www.w3.org/1998/Math/MathML')
            mtable.m-equation(displaystyle='true')
              mtr
                mtd(columnalign='left')
                  mstyle
                    munderover
                      mo ∑
                      mrow
                        mi i
                        mo =
                        mn 0
                      mo ∞
                  msub
                    mi x
                    mi i
                  mo =
                  msubsup
                    mo ∫
                    mn 0
                    mrow
                      mi π
                      mo +
                      mn 2
                  mi f
        p
          | just to demonstrate 
          span.latex
            | L
            span a
            | T
            span e
            | X
          | ’s able handling of numbering.
        h2 Citations
        p
          | Citations to articles 
          cites
            cite(href='#bowman93') 1
            cite(href='#braams91') 2
            cite(href='#clark91') 3
            cite(href='#herlihy93') 4
          | , conference proceedings 
          cite(href='#clark91') 3
          |  or books 
          cites
            cite(href='#salas78') 6
            cite(href='#lamport86') 5
          |  listed in the Bibliography section of your article will occur throughout the text of your article. You should use BibTeX to automatically produce this bibliography; you simply need to insert one of several citation commands with a key of the item cited in the proper location in the 
          code .tex
          |  file 
          cite(href='#lamport86') 5
          | . The key is a short reference you invent to uniquely identify each work; in this sample document, the key is the first author’s surname and a word from the title. This identifying key is included with each item in the 
          code .bib
          |  file for your article.
        p
          | The details of the construction of the 
          code .bib
          |  file are beyond the scope of this sample document, but more information can be found in the 
          em Author’s Guide
          | , and exhaustive details in the 
          em
            span.latex
              | L
              span a
              | T
              span e
              | X
            |  User’s Guide
          cite(href='#lamport86') 5
          | .
        p
          | This article shows only the plainest form of the citation command, using 
          code \cite
          | . This is what is stipulated in the SIGS style specifications. No other citation format is endorsed.
        h2 Tables
        p
          | Because tables cannot be split across pages, the best placement for them is typically the top of the page nearest their initial cite. To ensure this proper 
          q floating
          |  placement of tables, use the environment 
          strong table
          |  to enclose the table’s contents and the table caption. The contents of the table itself must go in the 
          strong tabular
          |  environment, to be aligned properly in rows and columns, with the desired horizontal and vertical rules. Again, detailed instructions on 
          strong tabular
          |  material is found in the 
          em
            span.latex
              | L
              span a
              | T
              span e
              | X
            |  User’s Guide
          | .
        p
          | Immediately following this sentence is the point at which 
          cite.table(href='#tablefreq') 1
          |  is included in the input file; compare the placement of the table here with the table in the printed dvi output of this document.
        table#tablefreq
          caption Frequency of Special Characters
          thead
            tr
              th Non-English or Math
              th Frequency
              th Comments
          tbody
            tr
              td Ø
              td 1 in 1,000
              td For Swedish names
            tr
              td π
              td 1 in 5
              td Common in math
            tr
              td $
              td 4 in 5
              td Used in business
            tr
              td
                math
                  msubsup
                    mi Ψ
                    mn 1
                    mn 2
              td 1 in 40,000
              td Unexplained usage
        p
          | To set a wider table, which takes up the whole width of the page’s live area, use the environment 
          strong table*
          |  to enclose the table’s contents and the table caption. As with a single-column table, this wide table will 
          q float
          |  to a location deemed more desirable. Immediately following this sentence is the point at which 
          cite.table(href='#table-comments') 2
          |  is included in the input file; again, it is instructive to compare the placement of the table here with the table in the printed dvi output of this document.
        h2 Figures
        p
          | Like tables, figures cannot be split across pages; the best placement for them is typically the top or the bottom of the page nearest their initial cite. To ensure this proper 
          q floating
          |  placement of figures, use the environment 
          strong figure
          |  to enclose the figure and its caption.
        p
          | This sample document contains examples of 
          strong .eps
          |  and 
          strong .ps
          |  files to be displayable with 
          span.latex
            | L
            span a
            | T
            span e
            | X
          | . More details on each of these is found in the 
          em Author’s Guide
          | .
        figure(style='float: column-top;')
          svg(style='width: 0.5in; height: 0.5in;')
            image(width='50', height='50', xlink:href='./img/fly.svg')
          figcaption(style='text-align: left;') A sample black and white graphic (.eps format).
        figure(style='float: column-bottom;')
          svg(style='width: 1in; height: 1in;')
            image(width='100', height='100', xlink:href='./img/fly.svg')
          figcaption(style='text-align: left;')
            | A sample black and white graphic (.eps format) that has been resized with the 
            code epsfig
            |  command.
        p
          | As was the case with tables, you may want a figure that spans two columns. To do this, and still to ensure proper 
          q floating
          |  placement of tables, use the environment 
          strong figure*
          |  to enclose the figure and its caption.
        p
          | Note that either 
          strong .ps
          |  or 
          strong .eps
          |  formats are used; use the 
          code \epsfig
          |  or 
          code \psfig
          |  commands as appropriate for the different file types.
        figure(style='float: column-top next; margin-top: 0;')
          svg(style='width: 0.75in; height: 0.75in; margin-bottom: 1em;')
            image(width='75', height='75', xlink:href='./img/rosette.svg')
          figcaption(style='text-align: left;')
            | A sample black and white graphic (.ps format) that has been resized with the 
            code psfig
            |  command.
        h2 Theorem-like Constructs
        p
          | Other common constructs that may occur in your article are the forms for logical constructs like theorems, axioms, corollaries and proofs. There are two forms, one produced by the command 
          code \newtheorem
          |  and the other by the command 
          code \newdef
          | ; perhaps the clearest and easiest way to distinguish them is to compare the two in the output of this sample document:
        p
          | This uses the 
          strong theorem
          |  environment, created by the 
          code \newtheorem
          |  command:
        .theorem
          span
            | Let 
            math
              mi f
            |  be continuous on 
            math
              mo(form='prefix') [
              mi a
              mo ,
              mi b
              mo(form='postfix') ]
            | . If G is an antiderivative for f on [a, b], then
          .equation.displaymath
            math(xmlns='http://www.w3.org/1998/Math/MathML')
              mtable.m-equation(displaystyle='true', style='margin-top: 1.0em; margin-bottom: 2.0em')
                mtr
                  mtd(columnalign='left')
                    mstyle(displaystyle='true')
                      munderover
                        mo ∫
                        mi a
                        mi b
                    mi f
                    mrow
                      mo(form='prefix') (
                      mi t
                      mo(form='postfix') )
                    mo ⅆ
                    mi t
                    mo =
                    mi G
                    mrow
                      mo(form='prefix') (
                      mi b
                      mo(form='postfix') )
                    mo -
                    mi G
                    mrow
                      mo(form='prefix') (
                      mi a
                      mo(form='postfix') )
                    mo .
        p
          | The other uses the 
          strong definition
          |  environment, created by the 
          code \newdef
          |  command:
        .definition
          span
            | If 
            math
              mi z
            |  is irrational, then by 
            math
              msup
                mi e
                mi z
            |  we mean the unique number which has logarithm 
            math
              mi z
            | :
          .equation.displaymath
            math
              mo log
              msup
                mi e
                mi z
              mo =
              mi z
        p
          | Two lists of constructs that use one of these forms is given in the 
          em Author’s Guidelines
          | .
        p
          | There is one other similar construct environment, which is already set up for you; i.e. you must 
          em not
          |  use a 
          code \newdef
          |  command to create it: the 
          strong proof
          |  environment. Here is a example of its use:
        .proof
          span
            | Suppose on the contrary there exists a real number 
            math
              mi L
            |  such that
          .equation.displaymath
            math(xmlns='http://www.w3.org/1998/Math/MathML')
              mtable.m-equation(displaystyle='true')
                mtr
                  mtd(columnalign='left')
                    mstyle(displaystyle='true')
                      munder
                        mi lim
                        mrow
                          mi x
                          mo →
                          mo ∞
                    mfrac(linethickness='1')
                      mrow
                        mi f
                        mrow
                          mo(form='prefix') (
                          mi x
                          mo(form='postfix') )
                      mrow
                        mi g
                        mrow
                          mo(form='prefix') (
                          mi x
                          mo(form='postfix') )
                    mo =
                    mi L
                    mo .
          div Then
          .equation.displaymath
            math(xmlns='http://www.w3.org/1998/Math/MathML')
              mtable.m-equation(displaystyle='true')
                mtr
                  mtd(columnalign='left')
                    mi l
                    mo =
                    mstyle(displaystyle='true')
                      munder
                        mi lim
                        mrow
                          mi x
                          mo →
                          mi c
                    mi f
                    mrow
                      mo(form='prefix') (
                      mi x
                      mo(form='postfix') )
                    mo =
                    mstyle(displaystyle='true')
                      munder
                        mi lim
                        mrow
                          mi x
                          mo →
                          mi c
                    mrow
                      mo(rspace='0.3em', lspace='0em', stretchy='true', fence='true', form='prefix') [
                      mi g
                      mrow
                        mi x
                      mo ⋅
                      mfrac(linethickness='1')
                        mrow
                          mi f
                          mrow
                            mo(form='prefix') (
                            mi x
                            mo(form='postfix') )
                        mrow
                          mi g
                          mrow
                            mo(form='prefix') (
                            mi x
                            mo(form='postfix') )
                      mo(rspace='0em', lspace='0.3em', stretchy='true', fence='true', form='postfix') ]
                    mo =
                    mstyle(displaystyle='true')
                      munder
                        mi lim
                        mrow
                          mi x
                          mo →
                          mi c
                    mi g
                    mrow
                      mo(form='prefix') (
                      mi x
                      mo(form='postfix') )
                    mo ⋅
                    mstyle(displaystyle='true')
                      munder
                        mi lim
                        mrow
                          mi x
                          mo →
                          mi c
                    mfrac(linethickness='1')
                      mrow
                        mi f
                        mrow
                          mo(form='prefix') (
                          mi x
                          mo(form='postfix') )
                      mrow
                        mi g
                        mrow
                          mo(form='prefix') (
                          mi x
                          mo(form='postfix') )
                    mo =
                    mn 0
                    mo ⋅
                    mi L
                    mo =
                    mn 0
                    mo ,
          p
            | which contradicts our assumption that 
            math
              mi l
              mo ≠
              mn 0
            | .
        p
          | Complete rules about using these environments and using the two different creation commands are in the 
          em Author’s Guide
          | ; please consult it for more detailed instructions. If you need to use another construct, not listed therein, which you want to have the same formatting as the Theorem or the Definition
          cite(href='#salas78') 6
          |  shown above, use the 
          code \newtheorem
          |  or the 
          code \newdef
          |  command, respectively, to create it.
        table.table-comments
          caption Some Typical Commands
          thead
            tr
              th Command
              th A Number
              th Comments
          tbody
            tr
              td
                code \alignauthor
              td 100
              td Author alignment
            tr
              td
                code \numberofauthors
              td 200
              td Author enumeration
            tr
              td
                code \table
              td 300
              td For tables
            tr
              td
                code \table*
              td 400
              td For wider tables
        figure.col-span(style='float: column-top;')
          svg(style='width: 600px; height: 200px; margin-top: 2em;')
            image(width='600', height='200', xlink:href='./img/flies.svg')
          figcaption
            | A sample black and white graphic (.eps format) that needs to span two columns of text.
        h2.counter-skip
          | A 
          em Caveat
          |  for the 
          span.tex
            | T
            span e
            | X
          |  Expert
        p
          | Because you have just been given permission to use the 
          code \newdef
          |  command to create a new form, you might think you can use 
          span.tex
            | T
            span e
            | X
          | ’s 
          code \def
          |  to create a new command: 
          em Please refrain from doing this!
          |  Remember that your 
          span.latex
            | L
            span a
            | T
            span e
            | X
          |  source code is primarily intended to create camera-ready copy, but may be converted to other forms – e.g. HTML. If you inadvertently omit some or all of the 
          code \def
          | s recompilation will be, to say the least, problematic.
      section
        h1 Conclusions
        p
          | This paragraph will end the body of this sample document. Remember that you might still have Acknowledgments or Appendices; brief samples of these follow. There is still the Bibliography to deal with; and we will make a disclaimer about that here: with the exception of the reference to the 
          span.latex
            | L
            span a
            | T
            span e
            | X
          |  book, the citations in this paper are to articles which have nothing to do with the present subject and are used as examples only.
      section
        h1 Acknowledgements
        p
          | This section is optional; it is a location for you to acknowledge grants, funding, editing assistance and what have you. In the present case, for example, the authors would like to thank Gerald Murray of ACM for his help in codifying this 
          em Author’s Guide
          |  and the 
          strong .cls
          |  and 
          strong .tex
          |  files that it describes.
      section
        h1 Additional Authors
        p
          | Additional authors: John Smith (The Thørväld Group, email: 
          code
            a(href='mailto:jsmith@affiliation.org') jsmith@affiliation.org
          | ) and Julius P. Kumquat (The Kumquat Consortium, email: 
          code
            a(href='mailto:jpkumquat@consortium.net') jpkumquat@consortium.net
          | ).
      section
        h1 References
        ref#bowman93
          | Bowman, M., Debray, S. K., and Peterson, L. L. 1993. Reasoning about naming systems. 
          em ACM Trans. Program. Lang. Syst.
          |  15, 5 (Nov. 1993), 795-825.
        ref#braams91
          | J. Braams. Babel, a multilingual style-option system for use with 
          span.latex
            | L
            span a
            | T
            span e
            | X
          | ’s standard document styles. 
          em TUGboat
          | , 12(2):291–301, June 1991.
        ref#clark91
          | M. Clark. Post congress tristesse. In 
          em TeX90 Conference Proceedings
          | , pages 84–89. TeX Users Group, March 1991.
        ref#herlihy93
          | M. Herlihy. A methodology for implementing highly concurrent data objects. 
          em ACM Trans. Program. Lang. Syst.
          | , 15(5):745–770, November 1993.
        ref#lamport86
          | L. Lamport. 
          em LaTeX User’s Guide and Document Reference Manual
          | . Addison-Wesley Publishing Company, Reading, Massachusetts, 1986.
        ref#salas78
          | S. Salas and E. Hille. 
          em Calculus: One and Several Variable
          | . John Wiley and Sons, New York, 1978.
        ref#park13
          | Park, T. H., Saxena, A., Jagannath, S., Wiedenbeck, S., and Forte, A. 2013. Towards a taxonomy of errors in HTML and CSS. In 
          em Proceedings of the ACM International Computing Education Research Conference
          |  (San Diego, USA, August 12 - 14, 2013). ICER '13. ACM, New York, NY, 75-82.
      section.appendix
        h1.counter-reset Headings in Appendices
        p
          | The rules about hierarchical headings discussed above for the body of the article are different in the appendices. In the appendix environment, the command section is used to indicate the start of each Appendix, with alphabetic order designation (i.e. the first is A, the second B, etc.) and a title (if you include one). So, if you need hierarchical structure within an Appendix, start with subsection as the highest level. Here is an outline of the body of this document in Appendix-appropriate form:
        h2 Introduction
        h2 The Body of the Paper
        h3 Type Changes and Special Characters
        h3 Math Equations
        h2 Acknowledgments
        h2 References
        p
          | Generated by bibtex from your .bib file. Run latex, then bibtex, then latex twice (to resolve references) to create the .bbl file. Insert that .bbl file into the .tex source file and comment out the command 
          code \thebibliography
          | .
        h1 More Help for the Hardy

