doctype html
html
  
  include template/css
  script(type="text/javascript" src="template/code/shCore.js")
  script(type="text/javascript" src="template/code/shBrushJScript.js")
  link(href="template/code/shCore.css" rel="stylesheet" type="text/css")
  link(href="template/code/shThemeDefault.css" rel="stylesheet" type="text/css")
  body
    body
      header.counter-skip
        h1.title
          | ELECTRONIC DEVICES
        h2
          | <b>High Electron Mobility Transistor (HEMT) based on GaN</b>
        h2.
         A Physics-Based Analytical Model for 2DEG charge density
        center
         img(src="img/logo.png" style="  width: 200px;") 
        h3 
        .authors.col-2
          .author
            b Andrea Mucchietto
            div Msc. in Nanotechnologies for ICT
            div Politecnico di Torino
            div
              a(href='mailto:andrea.mucchietto@studenti.polito.it') andrea.mucchietto@studenti.polito.it
          .author
            b Massimo Giordano
            div Msc. in Nanotechnologies for ICT
            div Politecnico di Torino
            div
              a(href='mailto:m.giordano@studenti.polito.it') m.giordano@studenti.polito.it
              
            //center
            //  |<br><br><br><br>
            //  img(src="img/logo.png" style="  width: 300px;")  
            
      .copyright
        div
      .abstract.counter-skip
        h1 Abstract
        p
          | Something
      .index      
        h1 Contents
        p
        | 
          
          
        //cite(href='#lamport86') #{cit}
        //.displaymath NOT show
        //.equation
        //  | $$ \lim_{x \to \infty} \frac{1}{x} = 0 $$
     section          
      h1.section
       |Theoretical Introduction
      n
        p
        p
          | named 
          code ciao,
          | which reads:
          pre(class="brush: js; highlight: [3,5]")
            include prova.txt
             
          |wh
          
        p 
          |Citare referenza
          cit#prova
          | Citare equazione: 
          eq#ideq
          code input
          |  file has been written and an independent calculation has been 
          
        .equation.svg#ideq
           |E_{\text{Cutoff}_{i+1}}-E_{\text{Cutoff}_{i}}\leq\ 0.0014\ [Ry]
           
        
        p.
         Thus
    
       
           
     
      
       section
        h2 Heterostructure 
        p
         |words 
       section
        h2 Two dimensional electron gas (2DEG)
        p 
         |words
       section
        h2 Triangular well
       
       section
        h2 HEMT transistor 
        p
         |high-speed and high-power applications.  These devices offer advantages such as high breakdown voltage, high charge density, and good electron mobility [t7.3]–[t7.5]
        
        
      //______________________    
      section
        h1 Charge density Analytical Model
        p
         | In order to rapidly and accurately simulate HEMT devices an analytical expression for density of the two dimensional gas $n_s$ is required.
         |So far $n_s$ has been usually expressed with numerical calculations, which require high computational power due to their iterative methods, or through empirical models, which use large number of empirical parameters obtained by experimental data. 
         |At the beginning of the 80s the interdependence between $n_s$ and $E_f$ was at first assumed constant 
         cit#firstmodel
         |, then linear and quadratic
         cit#secondmodel
         |, however those models are not able to properly predict the results while changing the operating conditions at which they were studied. In particular Cutoff Voltage and Temperature dependences have shown to be critical.<br>  
         |In this report a physical-based analytical model for the relation of $E_f$ and $n_s$ is presented following the work done by S. Khandelwal, N. Goyal and T. Fjeldly 
         cit#main
         |, which takes into account the first two energy sub-bands present in the quantum well and their contribution to the $n_s$ variation.
         
         
      section
        h2 Discussion of the contribution of sub-bands to $n_s$
        p
         |The reason why only the first two sub-bands are taken into account relies not on the number of bounded states present in the quantum well but on their probability of occupation. To give an estimate of those values we  have assumed that the quantum-well is triangular and the energies bounded states can not be higher than the built in potential.  
         |::::
      section
        h2 Fermi energy and Sub-bands with respect to Gate Voltage
        p
         |In order to obtain $n_s$ we solved numerically the two equations system of eq 1-2, as extensively described in chapter ##2DEG. 
         //codice matlab
         |This is needed to find $E_f$, $E_0$ and $E_1$ using the eq. (citE=n^2/3). Below the plot show the relation between $E_f$ and the two sub-bands with respect to the gate voltage and the temperature. 
         
        - var tot_img = 25;
        - var def = 15;
        - var path = "img/fig1/Energies_vs_Volts";
        - var ext  = "svg";
        - var uniqueID  ="fig1";
        - var width_bar = "300";
        - var width_img = "500";
        
        include img_range
        
        p 
         |As we can see in the plot $E_f$ intersect only $E_0$ and this point is important because allow to distinguish two regions. To further highlight this behavior we plot the difference between $E_f$ and the two energy sub-bands $E_0$ and $E_1$. 
         //plot
         |$E_1$ is always larger than $E_f$ and $E_0$ while $E_0$ in smaller then $E_f$ in region I while in the second region $E_0$ is always greater then $E_f$. The width of the first region increase with the temperature. (WHY?!?)  
         |A different model is developed for each regions, at the end they will be unify to obtain a continuous solution. 
          
         
         
         
         
         //|In the quantum well a high number of bounded states are available, however only the first two are taken into account because of the probability of occupation. We estimated those values assuming a triangular well with maximum potential equal to the built in obtained through the work functions.
         
         
         
         
         
         
         
         //| The reason why only the first two energy sub-bands are considered can be explained by the probability of their occupation. In fact, as the following plot show, the number of bound states present in the quantum well is much higher. Considering a triangular well 
         
         
         //|To calculate the number of bounded states in the well 
         
         
         //|with the following plot. In fact sAs we can see in the following plot the number of the sub-bands in the well 
         //|The reason why the author consider only the first two sub-bands can be explained the following calculation have been done.  
         
            
        section
            h2 Region I and approximations
            p 
             |In region I the second term of eq. (1cit) is negligible and the first logarithm term can be approximated to the exponential component of its argument. Therefor eq. ##1 can be rewritten as
             .equation.svg#nsIaprox
              |n_s = DV_{th} \ \text{exp}\left(  \frac{E_f -E_0}{V_{th}} \right) 
             |Therefor, $E_f$ can be expressed in region I as
             .equation.svg#efin1
              |E_f^{I} \approx \gamma_0 (n_s^I)^{\frac{2}{3}} + V_{\text{th}} \text{ln} \left( \frac{n_s^I}{D V_{\text{th}}}\right)
             |In the following plot we can see how the approximation fit well the Fermi Energy in the first region, the maximum absolute error is about ## and lies on the separation line between the two regions. 
             |In order to find out how the gate bias determinate explicitly $E_f$ and  $n_s$ we have to delete the interdependence of $E_f$ and $n_s$ in eq
             eq#efin1
             |. To do so we replace $n_s$ in eq 
             eq#efin1
             |with the following expression
             .equation.svg#nsvgef
              |n_s = \frac{\epsilon}{qd}\left(V_{\text{go}} - E_f \right)
             |Since $E_f$ is much smaller than $V_{\text{go}}$ we can expand the Taylor Series to the first order in $E_f^I/V_{\text{go}}$ . Despite the fact that for voltages very close to cutoff $E_f^I$ is not significantly smaller than $V_{\text{go}}$ the ultimate results provided by this work are in agreement with the numerical solution. This point is extensively discussed in chapter #7cicciarculo7#.
             | Hence the obtained $E_f$ dependence on the gate bias is:
             .equation.svg#EfvsVg1
              |E_f^I = V_{\text{go}}\frac{V_{\text{th}} \text{ln}\left( \beta V_{\text{go}} \right) + \gamma_0 \left( \frac{ C_g V_\text{go}}{q}\right)^\frac{2}{3}}{ V_{\text{go}} + V_{\text{th}} + \frac{2\gamma_0}{3} \left( \frac{ C_g V_\text{go}}{q}\right) ^\frac{2}{3}}
             |Combining eq
             eq#EfvsVg1
             |and
             eq#efin1
             |the behavior of $n_s$ as $V_g$ varies is expressed it follows:
             .equation.svg#nsVSvg1
              |n_s^I = \frac{C_g V_{\text{go}}}{q} \frac{  V_{\text{go}} +  V_{\text{th}}\left[ 1 - \ln\left(  \beta V_{\text{go}} \right ) \right ]  - \frac{\gamma_0}{3}\left( \frac{ C_g V_\text{go}}{q}\right) ^\frac{2}{3}}{ V_{\text{go}} +  V_{\text{th}} + \frac{2\gamma_0}{3} \left( \frac{ C_g V_\text{go}}{q}\right) ^\frac{2}{3}}
             |The analytical model in region I is based on equations (numeri ultime due) 
             //mettere vari plot- Ef vs Vg 1, ns vs Vg 1
        section
            h2 Region II and approximations
            p
             | It is to be reminded that $E_1$ is significantly greater than both $E_0$ and $E_f$, in addition in region II $E_f - E_0 > 0$. These observations enable to rewrite eq (NS log EF - vera dipendenza) as shown below.
             .equation.svg#ns2reg
              |n_s^{II} \approx DV_{\text{th}} \ln \left[ \exp \left(  \frac{E_f - E_0}{V_{\text{th}}}\right) + 1 \right] \approx D(E_f^{II}-E_0)
            |This result can be worked out by neglecting the whole second logarithmic term and the constant factor in the argument of the first logarithmic function. Thus, combining eq
            eq#nsvgef
            |and
            eq#ns2reg
            |applying the same approximations exploited in region I, the Fermi level and the sheet carrier charge density in region II are analytically described.
            .equation.svg#EfII 
             |E_f^{II} = V_{\text{go}}\frac{\beta V_{\text{th}} V_{\text{go}}+ \gamma_0 \left( \frac{ C_g V_\text{go}}{q}\right)^\frac{2}{3}}{ \left( 1 +\beta V_{\text{th}} \right )V_{\text{go}}  + \frac{2\gamma_0}{3} \left( \frac{ C_g V_\text{go}}{q}\right) ^\frac{2}{3}} 
            .equation.svg#NsII 
             |n_s^{II} = \frac{C_g V_{\text{go}}}{q} \frac{  V_{\text{go}}  - \frac{\gamma_0}{3}\left( \frac{ C_g V_\text{go}}{q}\right) ^\frac{2}{3}}{ \left(1 + \beta V_{\text{th}}   \right )V_{\text{go}}+       \frac{2\gamma_0}{3} \left( \frac{ C_g V_\text{go}}{q}\right) ^\frac{2}{3}}
            | Below, the graphs illustrate the computed dependence of $E_f$ and $n_s$ on $V_g$
            //mettere grafici... SE si vogliono mostrare (nell'articolo non sono mostrati)
            
        section
            h2 Unified model and explicit formula for 2DEG charge density
            p

            | A unified analytical expression for the sheet carrier charge density versus the gate voltage is sought. To achieve this goal a physically reasonable merging of the distinct behaviors in region I and II is needed. The $n_s$ expressions in the two zones differ in two terms both dependending on the thermal voltage $V_{th}$ (one term in the numerator and the other one in the denominator). Therefore, it is to be expected that both the regional models provide an acceptable description for the whole gate voltage range expect very close to the cutoff value. The following graphs aim at illustrating and analysing the accuracy of each of the regional models and a first unified model for $n_s$ and $E_f$, which does not considering the thermal voltage, when applied to the full voltage range.
            //mettere plot
            |Since the analytical description provided  by this first unified model is in fairly agreement with the regional ones it may seem satisfying, nonetheless the accuracy can be improved.
            |In fact,the two regional models can be combined using proper interpolation expressions that  are shown below.
            .equation.svg#InterpolExpress
             |V_{gon}= \frac{V_{go} \text{e}}{\beta \sqrt{V_{go}^2 + (\text{e}/ \beta)^2} \text{,} V_{god}= \frac{V_{go} }{\beta \sqrt{V_{go}^2 + (\text{e}/ \beta)^2}.
             
            |The final computed unified $n_s = n_s(V_{go})$ equals:
            //.equation.svg#NSunified
            //formula ns unificato
            
            | This proposed model takes into account the temperature dependence and it adjusts and balances the behavior of $n_s^I$ and $n_s^{II}$, in fact if they were used to describe the sheet carrier charge density throughout the whole voltage range they would respectively overestimante and underestimate this physical quantity. This consideration is justified by an inspection of the following graph which represents the difference from the numerical solution $n_s^N$ of $n_s^I$ and $n_s^{II}$.
            //plot NSi - NSnumerical
        section
            h2 Results discussion
            p
             | The developed model is compared with the two regional models at room temperature. It is to be noticed that all models are in good agreement with the numerical solution. 
             //plot
             |The unified model has the highest precision as the below graph illustrates. It shows the absolute error with respect the numerical data set. The accuracy diminishes as the voltage reaches the cutoff value, in fact this is a critical region for every developed model even though the unified one remains the best performing. The steep rise of the error is due to the validity loss of the linear approximation for the Taylor series expansion with respect to $E_f^I/V_{go}$ within a close range of the cutoff value.
             | It can be also highlighted that $n_s^I$ provides an acceptable analytical model for Region II having a relative error always equal or smaller than $2.5 \%$ whereas this can not be stated for $n_s^{II}$ in region 1.
        section
             h2 Temperature dependence
             p
             | It is physically meaningful to investigate the precision of the present model at elevated temperatures since GaN-based HEMT are particularly interesting for high-power applications. The below plot represents the sheet carrier charge density versus the gate voltage computed at different temperatures: 200K, 300K, 400K and 500K.   The temperature rise leads to an increase of the error near the cutoff region. Despite this, the unified model does not remarkably deviates from numerical solution of the analytical expression hence producing accpetable results.
            
      section
          h1 Conclusion
        
        
      section
        h1 References
        .reference(ref="firstmodel")
          | AIGaAs-GaAs Two-Dimensional Electron Gas FET. IEEE TRANSACTIONS ON ELECTRON DEVICES, VOL. ED-29,NO.6,JUNE 1982
        .reference(ref="secondmodel")  
          | Analytical Expression for Fermi Level Versus Shekt Carriers Concentration for HEMT Modeling, S. KOLA et al, IEEE ELECTRON DEVICE LETTERS, VOL. 9, NO. 3, MARCH 1988
        .reference(ref="main")
          | A Physics-Based Analytical Model for 2DEG Charge Density in AlGaN/GaN HEMT Devices, S. Khandelwal, N. Goyal and T. Fjeldly, Fellow, IEEE TRANSACTIONS ON ELECTRON DEVICES, VOL. 58, NO. 10, OCTOBER 2011.
      
      include template/endscript


